
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #000;
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  outline: none;
  z-index: 0;
  touch-action: none;
  pointer-events: auto;
  cursor: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#app {
  position: relative;
  z-index: 1;
  color: white;
  width: 100vw;
  height: 100vh;
}
